@font-face {
  font-family: 'bandico';
  src: url('./bandico/BANDICO.ttf');
}

body,
h1,
h2,
p {

  font-family: 'bandico', sans-serif;
}

.navbar {
  background: linear-gradient(135deg, #e9daa8 35%, #b09303 100%);
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#house-logo {
  margin-right: 0.5rem;
}

.logo {
  display: flex;
  margin-left: -1rem;
  border-style: none;
  font-weight: bold;
}

#logoTxt {
  font-size: 1.6rem;
  color: #3b82c9;
  -webkit-text-stroke-color: #2c3fa0;
  -webkit-text-stroke-width: 1px;
}

.nav-links {
  list-style: none;
  font-size: 1.2rem;
  
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links a {
  color: #333;
  text-decoration: none;
}

.hero {
  background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)) ,url('./images/HeroInterior.jpg') no-repeat center center/cover;
  text-align: center;
  padding: 100px 0;
}

.hero-content h1 {
  color: #ffffff;
  font-size: 3.5rem;
  margin-bottom: 20px; 
  -webkit-text-stroke-width: 0.06rem;
  -webkit-text-stroke-color: rgba(34, 34, 34, 0.654);
}

#heroHHCTxt {
  color: #3171e8;
  background: none;
}

.hero-content p {
  color: #eae8e8;
  -webkit-text-stroke-width: 0.06rem;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  font-size: 2.3rem;
  margin-bottom: 30px;
}

.hero-button {
  background-color: #0d60cd;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #3e70ef;
}

#heroSubtext {
  color: #aeaeae;
  -webkit-text-stroke-width: 0.09rem;
  -webkit-text-stroke-color: rgba(29, 29, 2, 0.495); 
  font-size: 1.6rem;
  margin-top: 1.2rem;
}

.about-us {
  background-color: #fff9d1;
  padding: 40px;
}

.about-us-content {
  
  background-color: #04229ad3;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  opacity: 0.8;

  text-align: center;
  padding: 40px;
  margin-left: 100px; 
  margin-right: 100px;
  font-size: 1.4rem;
}

.services {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr;
  row-gap: 60px;
  
  background-color: #ac904f;
  padding-top: 40px;
  padding-bottom: 80px;
}

.services > h2 {
  margin-bottom: -50px;
  grid-row: 1;
  text-align: center;
  font-size: 3rem;
  color: #072dd9eb;
}

.painting {
  grid-row: 3;
  background-color: #04229a9d;
  margin-left: auto;
  margin-right: 40px;
  width: 85%;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);

  display: inline-grid;
  grid-template-columns: auto 1fr;
}
.paint-descr {
  color: #ffffff;
  align-content: center;
  text-align: center;
  font-size: 1.4rem;
   
  padding: 50px;
}
.paint-img {
  max-height: 500px;
  max-width: auto;
}
#paintImg {
  display: block;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.drywalling {
  grid-row: 2;
  background-color: #04229a9d;
  margin-left: 40px;
  margin-right: auto;
  width: 85%;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);

  display: inline-grid;
  grid-template-columns: 1fr auto;
}
.drywall-descr {
  color: #ffffff;
  align-content: center;
  text-align: center;
  font-size: 1.4rem;
   
  padding: 50px;
}
.drywall-img {
  max-height: 400px;
  max-width: auto;
}
#drywallImg {
  display: block;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.landscaping {
  grid-row: 4;
  background-color: #04229a9d;
  margin-left: 40px;
  margin-right: auto;
  width: 85%;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);

  display: inline-grid;
  grid-template-columns: 1fr auto;
}
.landscape-descr {
  color: #ffffff;
  align-content: center;
  text-align: center;
  font-size: 1.4rem;
   
  padding: 50px;

}
.landscape-img {
  max-height: 500px;
  max-width: auto;
}
#landscapeImg {
  display: block;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contact-us {
  background-color: #0b0936;
}
#contactHead {
  padding-top: 50px;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
}

.contact-us-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 80px;
  padding-top: 30px;
  color: #ffffff;
}
.contact-us-descr {
  grid-column: 1;
  background-color: #3a3a3af5;
  margin-left: 50px;
  padding: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 3rem;
}
#contactUsDescrSpan {
  color: #cf9c04;
}
.contact-us-number {
  background-color: #2a2f42cc;
  grid-column: 2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 50px;
  text-align: center;
  align-content: center;
  font-size: 2.8rem;
}
#callUsTdySpan {
  color: #3578ff;
}



footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.social-links a {
  color: #4CAF50;
  text-decoration: none;
  margin: 0 10px;
}

